# Global settings (Shared)
Index:
  Background: true

Diagnostics:
  UnusedIncludes: Strict
  Suppress: ["deprecated-declarations"]

---
# C-Specific Configuration
If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  Add:
    - -xc               # Force C language mode
    - -std=c23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -D_CRT_SECURE_NO_WARNINGS
    - -DUNICODE
    - -D_UNICODE
  CompilationDatabase: "build/"

---
# C++-Specific Configuration
If:
  PathMatch: [.*\.cpp, .*\.hpp, .*\.cc]
CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -fno-exceptions
    - -fno-rtti
  CompilationDatabase: "build/"
